<%= javascript_include_tag 'home'%>
<div class="row-fluid">
  <% @targets.each do |target| %>

  <% end %>
</div>

<h1><justify>MODIP</justify></h1>
<div class="row-fluid">
	<div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
			<%= image_tag 'new_docking.png'%>
			<div class="carousel-caption">
				<h4>Docking Builder</h4>
				<p></p>
			</div>
        </div>
        <div class="item">
			<%= image_tag 'docking_progress.png'%>
			<div class="carousel-caption">
				<h4>Visual Docking Progress Notification</h4>
				<p></p>
			</div>
        </div>
        <div class="item">
			<%= image_tag 'order.png'%>
			<div class="carousel-caption">
				<h4>Compound Ranking List by different Criteria</h4>
				<p></p>
			</div>
        </div>
      </div>
     <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
<div class="dropdown clearfix">
<!--
<ul class="nav nav-tabs nav-stacked">
<li>MODIP es una plataforma de tamizaje virtual que integra y facilita en un ambiente web algunos de las herramientas utilizadas para el cribado virtual. </li>
<li> * Descarga de los compuestos a una base de datos local.</li> 
<li> * Gestion de los resultados a través de una interfaz amigable e intuitiva.</li> 
<li> * Configuracion de las descargas de datos referidos a una diana específica.</li>
<li> * Visualización de todo el proceso a modo de notificaciones por vía de correo electrónico.</li>
<li> El sistema es una útil herramienta para los presentes y futuros ensayos de búsqueda de nuevos fármacos, profilácticos o terapéuticos, orientados a las ramas veterinarias. </li>
</ul>
-->
</div>
