<%= stylesheet_link_tag 'users', :media => 'all' %>

<div class="user_form">
  <fieldset>
    <legend class="text-center">Enter User Details</legend>
    <%= render 'form' %>
  </fieldset>
</div>
<%= link_to 'Back', users_path %>
