.queries-content{
    height: 100%;
    width: 100%;
    font-size: small;
}

.queries-content ul{
    list-style-type: none;
}
.queries-content li{
    height: 120px;
    margin-bottom: 10px;
    border-bottom: solid 1px;
}

.queries-content li div{
    margin-bottom: 3px;
}

.info {
    margin: 0;
    float: left;
    width: 70%;
}

.remaining-time{
    margin-left: 2px;
}

.time{
    padding: 0;
    margin-top: 4px;
    margin-left: 4px;
    float: left;
    width: 65px;
    height: 50px;
}

.time div{
    padding: 0;
    margin: 0;
    height: 30px;
}

.time label{
    display: block;
    text-align: center;
}

.time-number span{
    color: #00008b;
    font-size: large;
    text-align: center;
    height: 100%;
    display: block;
    padding-top: 8px;
}

.botton{


}
.botton-left{
    margin: 0;
    padding: 0;
    float: left;
    width: 60%;
}
.botton-right{
    margin: 0 0 0 auto;
    padding: 0;
    width: 40%;
}
.botton-right-button{
    margin:0 0 0 92px;
    position: relative;
    top: 10px;

}

.botton-right-button div{
    margin: 5px 10px;
    float: left;
}

