<div class = "row-fluid">
	<%= render(:partial => 'form', :locals => {:url => target_prepare_receptors_path, :verb => :post}) %>
</div>
<div class="row-fluid">
	<%= link_to 'Back', target_path(@target) %>
</div>
