<div class="footer">
      <p>Copyright&copy 2013-2015 --- CENSA-UFRJ (Cuba/Brasil)</p>
      <p>All rights reserved</p>
      <p>e-mail: modipserver . at . gmail.com</p>
      <p> Acknowledgement: International Foundation for Science (IFS) and Coordenação de Aperfeiçoamento de Pessoal de Nível (CAPES)</p>
</div>
