<%= form_for(@compound) do |f| %>
  <% if @compound.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compound.errors.count, "error") %> prohibited this compound from being saved:</h2>

      <ul>
      <% @compound.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
